/public

### Node ###
# Logs
logs
*.log
npm-debug.log*

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
package-lock.json

### OSX ###
.DS_Store
.AppleDouble
.LSOverride


### Sass ###
.sass-cache
*.css.map

### Other ###
.tmp/
lib/
.vscode
.cache