@import './styles/base';

pre {
  overflow-y: hidden;
  text-align: left;
}

code {
  display: block;
  font-size: 12px;
  padding: 12px 25px;
  text-align: left;
}

code[class*=language-], pre[class*=language-] {
  white-space: pre-line;
}

p {
  color: rgba(51, 48, 48, 0.6);
}

nav {
  border-right: 1px solid #ccc;
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 250px;
  @media only screen and (max-width: 500px) {
    height: auto;
    position: relative;
    width: 100%;
  }
}

nav a {
  background: transparent;
  border: 0;
  color: #222;
  cursor: pointer;
  display: block;
  font-size: 10px;
  padding: 10px 20px 10px 10px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  text-decoration: none;
}

nav a:hover {
  background-color: #ccc;
  opacity: .85;
}

nav a.active {
  background-color: #eee;
  color: #555;
}

nav a:active,
nav a:focus {
  outline: 0;
}

.content {
  margin: 16px;
  padding-left: 250px;
  max-width: 900px;
  @media only screen and (max-width: 500px) {
    padding-left: 0
  }
}

.demo {
  padding: 32px;
  position: relative;
}

.usage {
  background: #999;
  position: relative;
}

.demo-tag {
  background: rgba(0, 0, 0, .9);
  color: #fff;
  font-size: 9px;
  left: 0;
  padding: 5px;
  position: absolute;
  top: 0;
}

.demo-tag.inverted {
  background: rgba(0, 0, 0, .9);
  font-weight: 100;
}

.hljs {
  padding: 32px 32px 16px;
}
