body {
  font-family: -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  margin-top: 50px;
}

h2 {
  color: #555;
  font-size: 2em;
  text-align: center;
}

h3 {
  color: #777;
  font-size: 1.5em;
  text-align: center;
}

#content {
  margin: 0 auto;
  width: 50%;
}
