@import '../src/index';
@import './styles/base';

pre {
  overflow-y: hidden;
  text-align: left;
}

code {
  display: block;
  font-size: 12px;
  padding: 12px 25px;
  text-align: left;
}

code[class*=language-], pre[class*=language-] {
  white-space: pre-line;
}

p {
  color: rgba(51, 48, 48, 0.6);
}

h1 {
  color: #333;
  font-size: 48px;
  font-weight: 200;
  margin: 0;
  padding: 32px 0 4px;
}

h2 {
  color: #555;
  font-size: 24px;
  font-weight: 200;
  margin: 0;
  padding: 8px 0 16px;
  position: relative;
  &:after {
    background: #eee;
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    margin: auto;
    min-width: 250px;
    position: absolute;
    position: absolute;
    right: 0;
    width: 50%;
  }
}

nav {
  display: block;
  text-align: center;
  a {
    border-bottom: 1px solid #ccc;
    color: #ccc;
    display: inline-block;
    font-size: 12px;
    font-weight: 100;
    margin: 0px 4px;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      border-bottom-color: #999;
      color: #999;
    }
  }
}

.github {
  display: flex;
  justify-content: center;
  margin-top: 16px;

  & > * {
    margin: 0 4px;
  }
}

.text-center {
  text-align: center;
}

.content {
  margin: 16px auto;
  max-width: 900px;
  padding: 16px;
}

.demo {
  padding: 32px;
  position: relative;
}

.usage {
  background: #999;
  position: relative;
}

.demo-tag {
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-size: 9px;
  left: 0;
  padding: 5px;
  position: absolute;
  top: 0;
}

.demo-tag.inverted {
  background: rgba(0, 0, 0, 0.9);
  font-weight: 100;
}

.hljs {
  padding: 32px 32px 16px;
}
