@import '~@schibstedspain/sui-spinner/dist/index';

$c-background: #dcdcdc;

.react-Lory {
  background: $c-background;
  min-height: 175px;
  position: relative;

  &-frame {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    width: 100%;
  }

  &-slides {
    display: block;
    list-style: none;
    padding: 0;
    width: 100%;
  }

  &-item {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 100%;
  }

  img {
    display: block;
    height: auto;
    width: 100%;
  }

  .sui-Spinner {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
  }
}
