@import '~@schibstedspain/sui-spinner/dist/index';

$c-background: #dcdcdc;
$c-nav-background: rgba(255, 255, 255, .8);
$c-nav-color: #aaaaaa;
$c-transparent: rgba(0, 0, 0, 0);

@mixin arrow($symbol) {
  color: $c-nav-color;
  content: $symbol;
  font-size: 65px;
  font-weight: 100;
  height: 100%;
  line-height: 45px;
  margin: auto;
  padding: 0 8px;
  position: absolute;
  text-align: center;
  top: calc(50% - 29px);
  width: 40px;
  z-index: 2;
}

.react-Slidy {
  -webkit-tap-highlight-color: $c-transparent;
  background: $c-background;
  position: relative;

  &-next,
  &-prev {
    background: $c-nav-background;
    bottom: 0;
    cursor: pointer;
    height: 20%;
    margin: auto 0;
    min-height: 56px;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .3s ease;
    width: 40px;
    z-index: 1;

    @media screen and (max-width: 850px) {
      display: none;
    }
  }

  &-next {
    border-radius: 10px 0 0 10px;
    right: 0;

    &::after {
      @include arrow('›');
      right: 0;
    }
  }

  &-prev {
    border-radius: 0 10px 10px 0;
    left: 0;

    &::after {
      @include arrow('‹');
      left: 0;
    }
  }

  &:hover &-next,
  &:hover &-prev {
    opacity: 1;
  }

  &-frame {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-size: 0;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    width: 100%;

    &:hover > .react-Slidy--dimmed-arrow {
      opacity: .3;
    }
  }

  &-slides {
    backface-visibility: hidden;
    display: block;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
    will-change: transform, transition-timing, transition-duration;
  }

  &-item {
    display: inline-block;
    position: relative;
    transform: translateZ(0);
    user-select: none;
    vertical-align: top;
    width: 100%;
  }

  img {
    display: block;
    height: auto;
    pointer-events: none;
    touch-action: none;
    user-select: none;
    width: 100%;
  }

  .sui-Spinner {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
  }
}
