$c-background: #dcdcdc;
$c-nav-background: rgba(255, 255, 255, .8);
$c-nav-color: #aaaaaa;
$c-transparent: rgba(0, 0, 0, 0);

@mixin arrow($direction) {
  @if $direction == 'right' {
    margin-right: 6px;
    transform: rotate(45deg);
  } @else if $direction == 'left' {
    margin-left: 6px;
    transform: rotate(-135deg);
  }

  border-right: 3px solid $c-nav-color;
  border-top: 3px solid $c-nav-color;
  content: '';
  display: inline-block;
  height: 24px;
  width: 24px;
}

.react-Slidy {
  -webkit-tap-highlight-color: $c-transparent;
  background: $c-background;
  min-height: 50px;
  position: relative;
  user-select: none;

  &-next,
  &-prev {
    align-items: center;
    background: $c-nav-background;
    border: 0;
    bottom: 0;
    cursor: pointer;
    display: flex;
    height: 20%;
    justify-content: center;
    margin: auto 0;
    min-height: 56px;
    opacity: 0;
    outline: 0;
    position: absolute;
    top: 0;
    transition: opacity .3s ease;
    width: 40px;
    z-index: 1;

    @media (pointer: coarse) and (max-width: 850px) {
      display: none;
    }
  }

  &-next {
    border-radius: 10px 0 0 10px;
    right: 0;

    &::after {
      @include arrow('right');
    }
  }

  &-prev {
    border-radius: 0 10px 10px 0;
    left: 0;

    &::after {
      @include arrow('left');
    }
  }

  &:hover &-next,
  &:hover &-prev {
    opacity: 1;
    &:disabled {
      cursor: default;
      opacity: .2;
    }
  }

  &-frame {
    list-style: none;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    position: relative;
    user-select: none;
    white-space: nowrap;
    width: 100%;

    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (pointer: coarse) {
      overflow-x: scroll;
      -webkit-overflow-scrolling: auto;
    }
  }

  &-slide {
    display: inline-block;
    position: relative;
    user-select: none;
    vertical-align: top;
    width: 100%;

    &.is-loaded {
      opacity: 1;
    }
  }

  img {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;

    display: block;
    height: auto;
    pointer-events: none;
    touch-action: none;
    user-select: none;
    width: 100%;
  }
}
